<div class="modal-header" style="border-bottom: none;">
    
</div>
<div class="modal-body" style="margin-bottom: 0px;padding-bottom:0px;">
    <div style="display:inline-block;margin:auto;">
      <uib-datepicker ng-model="giornoSelezionato" class="well well-sm my-datepicker" datepicker-options="options"></uib-datepicker>
    </div>
</div>
<div class="modal-footer" style="border-top: none;">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
